* {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
}

#title {
  background-color: lightsteelblue;
  padding: 0.5em;
  text-align: center;
  border: 2px solid black;
  display: flex;
  flex: initial;
  width: 180px;
  justify-content: flex-start;
}
